@import '~styles/colors.scss';

.exchangeActions {
  @include themify($themes) {
    background-color: themed('whiteBackground');
  }
  border-radius: 3px;
  height: 30px;
  display: flex;
  align-items: center;

  .headerText {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 5px;
    flex: 1;
    @include themify($themes) {
      color: themed('orangeText');
    }
  }

  .logOut {
    @include themify($themes) {
      color: themed('successText');
    }
  }
}