@import '~styles/colors.scss';

.exchange {
  margin-right: 15px;
  width: 15vw;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  // border: 1px solid;
  height: 100%;
  @include themify($themes) {
    background-color: themed('appBackground') !important;
    box-shadow: themed('paperBoxShadow') !important;
  }

  &.unified {
    @include themify($themes) {
      box-shadow: themed('highlightedPaperBoxShadow') !important;
    }
  }

  .exchangeHeader {
    padding: 5px;
    border-bottom: 1px solid;
    @include themify($themes) {
      color: themed('textColor');
      background: themed('listHeaderBackground');
      border-bottom-color: themed('borderColor');
    }
  }
}