@import "~styles/colors.scss";

.newWithdrawal {
    width: 10vw;
  
    .newWithdrawalProp {
      width: 70%;
      margin: 10px;
      margin-top: 5px;
    }
  
    .WithdrawalOption {
      @include themify($themes) {
        color: themed('disabled');
      }
      margin-left: 10px;
      width: 133px;
    }
  }

  .transactionIdTitle {
    font-size: 1.2rem;
    padding: 5px;
  }
  