@import '~styles/colors.scss';

.signInDialogContent {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: space-around;
  height: 25vh;

  .fees {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }
}

.footer {
  margin-top: 20px;
  height: 20px;

  .invalidLogin {
    @include themify($themes) {
      color: themed('redError');
    }
  }
}