@import '~styles/colors.scss';

.signInDialogContent {
  width: 25vw;
  height: 30vh;

  .required {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    margin-bottom: 20px;
  }

  .feesContainer {
    margin-top: 35px;

    .cb {
      height: 15px;
    }

    .fees {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  height: 40px;

  .footerItem {
    margin-top: 25px;
  }

  .invalidLogin {
    @extend .footerItem;
    @include themify($themes) {
      color: themed('redError');
    }
  }
}