@import "~styles/colors.scss";

.accountsNavigator {
  width: 10vw;

  .accounts {
    margin-top: 5vh;
    height: 100%;
    display: flex;
    flex-direction: column;

    .accountNavItem {
      justify-content: center;
      height: 10%;
      display: flex;
      border-bottom: 1px groove;
      align-items: center;
      cursor: pointer;
      @include themify($themes) {
        border-color: themed('borderColor');
      }

      &:hover {
        // @include themify($themes) {
        background-color: #bdbdbd;
        // }
      }

      &.selected {
        background-color: dimgray;
        // border-color: $whiteText;
      }

      &:first-child {
        border-top: 1px groove;
      }

      .name {
        font-size: 1.2rem;
        font-weight: 500;
        color: $whiteText;
      }
    }

    .footer {
      display: flex;
      margin-top: 10px;
      width: 100%;
      align-items: flex-end;
      flex: 1;
      margin-bottom: 20px;
      padding-left: 10px;

      .addBtn {
      }
    }
  }
}