@import '~styles/colors.scss';

.tradingBox {
  display: flex;
  flex-direction: column;
  padding: 15px;

  .tradingOption {
    margin-bottom: 20px;
  }

  .colorInput {
    color: $whiteText;

    &:disabled {
      @include themify($themes) {
        color: themed('disabled');
      }
    }
  }
}