@import '~styles/colors.scss';

.accountManager {
  display: flex;
  flex: 1;
}

.dialogContainer {
  flex: 1;
  display: inline;
}

.accountDialogContent {
  width: 15vw;

  .userInput {
    width: 100%;
    margin: 20px;
  }
}

.accountContent {
  flex: 1;
  padding: 20px;
}

.headerContainer{
  display: flex;
  .title {
    font-size: 2.5rem;
    flex: 10;
  }

  .btnContainer{
    flex: 1;
  }
}

.btn{
  margin-right: 5px !important;
}
