@import '~styles/colors.scss';

.accountManager {
  display: flex;
  flex: 1;
}

.dialogContainer {
  flex: 1;
  display: inline;
}

.accountDialogContent {
  width: 15vw;

  .userInput {
    width: 100%;
    margin: 20px;
  }
}

.accountContent {
  flex: 1;
  padding: 20px;

  .title {
    font-size: 2.5rem;
    // color: $MainBlue;
  }
}
