@import "~styles/colors.scss";

.whiteSelect {
  color: $whiteText !important;
}

.whiteInput {
  color: $whiteText !important;

  option {
    color: $blackText !important;
  }

  &::before {
    border-bottom-color: $whiteText !important;
  }

  &:hover {
    border-bottom-color: $whiteText !important;
    border-bottom: 2px solid !important;

    &.inline {
      margin-top: 14px !important;
    }

    &::before {
      border-bottom: none !important;
    }
  }
}