@import "~styles/colors.scss";

.whiteSelect {
  @include themify($themes) {
    color: themed('secondaryTextColor') !important;
  }
}

.whiteInput {
  @include themify($themes) {
    color: themed('secondaryTextColor') !important;
  }

  option {
    @include themify($themes) {
      color: themed('blackText') !important;
    }
  }

  &::before {
    @include themify($themes) {
      border-bottom-color: themed('secondaryTextColor') !important;
    }
  }

  &:hover {
    @include themify($themes) {
      border-bottom-color: themed('secondaryTextColor') !important;
    }
    border-bottom: 2px solid !important;

    &::before {
      border-bottom: none !important;
    }
  }
}