@import "~styles/colors.scss";

.orderStatusItem {
  height: 20px;
  color: white;
  border: 1px solid;
  margin: auto;
  padding: 5px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  // text-align: center;
  width: 13vw;
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;

  &.failed {
    @include themify($themes) {
      background-color: themed('errBackground');
    }
  }

  &.success {
    @include themify($themes) {
      background-color: themed('successBackground');
    }
  }

  &.progress {
    @include themify($themes) {
      background-color: themed('warningBackground');
    }
  }

  &.highlighted {
    color: $blackText;
    @include themify($themes) {
      background-color: themed('listItemHoverBackground');
    }
  }

  &:hover {
    @extend .highlighted;
  }

  .text {
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }

  .opt {
    @extend .text;
    text-transform: capitalize;
    flex: 0.7;
    text-overflow: initial;
  }

  .splitter {
    @extend .text;
    flex: 0.2;
    margin: 0px 5px;
  }

  .info {
    @extend .text;
    flex: 4;
  }
}

.popover {
  padding: 20px;
  display: flex;
  flex-direction: column;

  .orderDetail {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    .key {
      width: 90px;
      display: inline-flex;
      text-decoration: underline;
    }

    .value {
      &.capital {
        text-transform: capitalize;
      }
    }
  }
}