.tableWrapper {
  .table {
    height: 100%;
    display: flex;
    flex-direction: column;

    tbody {
      display: block;
      flex: 1;
      overflow: auto;
    }

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;

      &.expandedRow {
        display: flex;
        flex-direction: column;
        height: auto;

        .expandedRowCells {
          table {
            border-spacing: 0px;
          }
        }

        .expandedRowPanel {
          // margin-left: 30px;
          background-color: whitesmoke;

          td,
          th {
            &:first-of-type {
              width: 30px;
              padding: 0px;
            }
          }
        }
      }
    }

    td,
    th {
      word-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;

      &.nestingControl {
        width: 30px;
        padding: 0px;
      }
    }
  }
}

.noData {
  margin-top: 20%;
  text-align: center;
  font-size: 1.2rem;
  color: gray;
}