.balance {
  padding-left: 20px;
  display: flex;
  justify-content: space-around;

  .balanceItem {
    display: flex;
    width: 30%;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 10VH;
    background: cadetblue;
    border: 3px solid;
    justify-content: center;
    align-items: center;

    .detail {
      display: inline-block;
      font-size: inherit;
    }

    .asset {
      @extend .detail;
      margin-right: 10px;
    }

    .value {
      @extend .detail;
    }
  }
}