// App pallet
$MainBlue: #50A6C2;

// borders
$borderColor: lightgray;

// colors
$green: #43a047;// forestgreen;
$red: crimson;
$redError: #d32f2f; //darkred;
$whiteText: white;
$orangeText: #C76114;
$whiteBackground: white;
$warningBackground: #ffa000;
$infoBackground: #1976d2;
$blackText: black;
$lightGrayBackground: lightgray;

// List
$listHeaderBackground: lightslategray;
$listItemHoverBackground: aliceblue;