// App pallet
$MainBlue: #50A6C2;

// borders
$borderColor: lightgray;

// colors
$green: forestgreen;
$red: crimson;
$redError: darkred;
$whiteText: white;
$whiteBackground: white;
$blackText: black;

// List
$listHeaderBackground: lightslategray;
$listItemHoverBackground: aliceblue;