@import '~styles/colors.scss';

.exchange {
    margin-right: 15px;
    width: 15%;
    min-width: 200px;
    margin-bottom: 25px;

    .exchangeHeader {
        padding: 5px;
        border-bottom: 1px solid $borderColor;
        background: $listHeaderBackground;
        color: $whiteText;
    }
}