@import "~styles/colors.scss";

html {
  * {
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
}

body {
  margin: 0px;
}

@media all and (min-width: 960px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('appBackground');
  }

  .content {
    // padding: 10px 25px;
    height: calc(100% - 70px);
    flex: 1;
    display: flex;
  }

  footer {
    padding-left: 10px;
    @include themify($themes) {
      background-color: themed('sectionBackground');
      color: themed('secondaryTextColor');
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    .supportLink {
      margin-left: 5px;
      @include themify($themes) {
        color: themed('secondaryTextColor');
      }
    }

    .themeSelector {
      @include themify($themes) {
        color: themed('secondaryTextColor');
      }
    }
  }
}