@import "~styles/colors.scss";

.header {
  background-color: $MainBlue;
  display: flex;
  align-items: center;
  min-height: 70px;

  .logo {
    background-image: url('assets/images/logo.png');
    background-repeat: no-repeat;
    height: 65px;
    width: 200px;
    margin-right: 25px;
    margin-left: 10px;
  }

  .mainHeader {
    color: $whiteText;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 10px;
  }

  .actions {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;

    .buySellBtn {
      margin-right: 20px;
      width: 125px;
      background-color: $whiteBackground;
      font-weight: 600;

      .buySellBtnIco {
        margin-right: 5px;
      }
    }

    .langMenu {
      margin-left: 10px;
    }
  }

  .whiteSelect {
    color: $whiteText;

    option {
      color: $blackText;
    }
  }

  .whiteInput {
    &::before {
      border-bottom-color: $whiteText;
    }

    &:hover {
      border-bottom: 2px solid $whiteText;

      &::before {
        border-bottom: none !important;
      }
    }
  }
}

.langIco {
  height: 35px;
}