@import "~styles/colors.scss";

.header {
  background-color: $MainBlue;
  display: flex;
  align-items: center;
  min-height: 70px;

  .logo {
    background-image: url('assets/images/logo.png');
    background-repeat: no-repeat;
    height: 65px;
    width: 200px;
    margin-right: 25px;
    margin-left: 10px;
  }

  .mainHeader {
    color: white;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 10px;
  }

  .currencyMenu {
    flex: 1;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .langMenu {
    // flex: 1;
    // align-items: flex-end;
    // display: flex;
    // flex-direction: column;
    margin-left: 10px;
  }

  .whiteSelect {
    color: white;

    option {
      color: black;
    }
  }

  .whiteInput {

    &::before {
      border-bottom-color: white;
    }

    &:hover {
      border-bottom: 2px solid white;

      &::before {
        border-bottom: none !important;
      }
    }
  }
}

.langIco {
  height: 35px;
}