@import "~styles/colors.scss";

.whiteText {
  color: $whiteText !important;
}

.whiteInput {
  color: $whiteText !important;

  &::before {
    border-bottom-color: $whiteText !important;
  }

  &:hover {
    border-bottom-color: $whiteText !important;
    border-bottom: 2px solid !important;

    &::before {
      border-bottom: none !important;
    }
  }
}