@import '~styles/colors.scss';

.order {
  @include themify($themes) {
    border-color: themed('borderColor');
  }
  border-bottom: 1px solid;
  padding: 5px;
  min-height: 15px;
  flex: 1;
  display: flex;
  justify-content: space-around;
  // animation: swing 0.5s linear;
  // animation: fadeIn 0.5s linear;
  // animation-fill-mode: both;

  &:hover {
    @include themify($themes) {
      background-color: themed('listItemHoverBackground');
      color: themed('blackText');
    }
  }

  .orderItem {
    display: inline-block;
    width: 25%;
    cursor: context-menu;
  }

  .orderSize {
    @extend .orderItem;
  }

  .orderPrice {
    @extend .orderItem;
  }

  .orderSource {
    width: 25%;
    align-self: flex-start;
  }

  .orderAt {
    display: inline-block;
    width: 10%;
  }
}


// Animations
$total-items: 8;

// Set delay per List Item
@for $i from 1 through $total-items {
  .order:nth-child(#{$i}) {
    animation-delay: .1s * $i;
  }
}

// Keyframe animation
@-webkit-keyframes swing {
  0% {
    transform: rotateY(-90deg);
    transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
  }

  75% {
    transform: rotateY(-90deg);
    transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
  }

  100% {
    transform: rotateY(0deg);
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }

  75% {
    opacity: 0.5;
    top: 0px;
  }

  100% {
    opacity: 1;
  }
}

// Keyframe animation
@keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
  
    75% {
      opacity: 0.5;
      top: 0px;
    }
  
    100% {
      opacity: 1;
    }
  }