@import "~styles/colors.scss";

.tradeManager {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tradesData {
    flex: 1;

    &.blurring {
      filter: blur(0.1rem);
    }

    .grid {
      height: 100%;

      .orderNestedContainer {
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px dotted;
        border-color: $borderColor;

        .walletPlan {
          border-left: 2px solid;
          padding-left: 10px;
          border-color: $borderColor;

          .title {
            text-decoration: underline;
            font-size: 1.1rem;
          }

          .wallet {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}