@import "~styles/colors.scss";

.tradeManager {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;

  .tradesData {
    flex: 1;

    &.blurring {
      filter: blur(0.1rem);
    }

    .grid {
      height: 100%;

      .orderNestedContainer {
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px dotted;
        border-color: $borderColor;
      }
    }
  }
}