@import '~styles/colors.scss';

.toast {
  .content {
    .message {
      display: flex;
      align-items: center;

      icon {
        font-size: 1.1rem, ;
      }

      .iconVariant {
        opacity: 0.9;
        margin-right: 5px;
      }
    }
  }

  .success {
    @extend .content;
    @include themify($themes) {
      background-color: themed('successText');
    }
  }

  .error {
    @extend .content;
    @include themify($themes) {
      background-color: themed('redError');
    }
  }

  .info {
    @extend .content;
    @include themify($themes) {
      background-color: themed('infoBackground');
    }
  }

  .warning {
    @extend .content;
    @include themify($themes) {
      background-color: themed('warningBackground');
    }
  }

  .closeIco {
    @include themify($themes) {
      color: themed('whiteText');
    }
  }
}