@import '~styles/colors.scss';

.signInDialogContent {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: space-around;
  height: 25vh;
}

.footer {
  margin-top: 20px;
  height: 20px;

  .invalidLogin {
    @include themify($themes) {
      color: themed('redError');
    }
  }
}