@import "~styles/colors.scss";
$filterMargin: 3vw;
$controlMargin: 20px;

.filterBar {
  display: flex;
  background-color: $MainBlue;
  // justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
  margin: 15px 0px;
  color: $whiteText;

  .filter {
    display: flex;
    align-items: center;
    margin-right: $filterMargin;
    font-weight: 500;

    .label {
      display: inline-block;
      margin-right: $controlMargin;
    }

    .dateFilters {
      display: flex;
      align-items: center;
      margin-left: $controlMargin;

      .dateControl {
        label,
        div:first-of-type {
          color: $whiteText;

          &::before {
            border-bottom-color: $whiteText;
          }
        }

        &:first-of-type {
          margin-right: $controlMargin;
        }
      }
    }
  }

  .splitter {
    display: inline-block;
    margin-right: $filterMargin;
    color: $whiteText;
  }

  .btn {
    color: inherit;
    margin-left: auto;
  }

  .execBtn {
    @extend .btn;
    padding: 0px;
    min-height: 30px;
    @include themify($themes) {
      background-color: themed('successBackground');
    }
  }

  .loading {
    @extend .btn;
    color: $whiteText;
  }

  .exportBtn {
    color: inherit;
    margin-left: 5px;
  }
}