.dashboard {
  display: flex;
  flex: 1;
  padding: 20px;
}

.dashboardContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.widgetBalance {
  display: flex;
  flex: 1;
  height: 200px;
  width: 200px;
}

.widgetColumn {
  display: flex;
  flex: 2;
}

.widget {
  margin: 10px;
  flex: 1;
  padding: 20px;

  &.orders {
    flex: 2;
  }
}

.button {
  display: flex;
}

$tr: red;