.dashboard { 
    display: flex;
    flex: 1;
    padding: 20px;
}

.dashboardContent{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    flex: 1;
    height: 100%;
}

.widgetColumn{
    display: flex;
    flex: 1;
}

 .widget{
    margin: 10px;
    flex: 1;
    padding: 20px;
 }

 .button{
    display: flex;
 }