.dashboard { 
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.dashboardContent{
    display: flex;
    justify-content: center;
    // align-items: center;
    flex: 1;
    height: 100%;
}

.widgetColumn{
    display: flex;
    flex: 1;
    flex-grow: 1; 
    flex-direction: column; 
}

 .widget{
    display: flex;
    border: 1px solid;
    border-radius: 3px;
    margin: 10px;
    flex: 1;
    flex-grow: 1;
    padding: 20px;
 }

 .button{
    display: flex;
 }