@import '~styles/colors.scss';

.exchangeData {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;

  .info {
    height: 20%;
    padding: 0px 5px;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 5px;

    .spreadHeader {
      padding: 10px 0px;
      border: none;
      margin: 0px;
    }

    .infoItem {
      padding: 5px;
      height: 20px;
      display: flex;
      justify-content: space-between;

      .lastPricePos {
        color: $green;
      }

      .lastPriceNeg {
        color: $red;
      }
    }
  }

  // .orderItem {
  //   display: inline-block;
  //   width: 25%;
  //   cursor: context-menu;
  // }

  .orderContainer {
    height: 40%;

    .header {
      padding: 20px 5px;
      margin: 0px;
      border-bottom: 1px solid $borderColor;
    }

    // .order {
    //   border-bottom: 1px solid $borderColor;
    //   padding: 5px;
    //   height: 20px;
    //   display: flex;
    //   justify-content: space-around;
    //   // animation: swing 0.5s linear;
    //   animation: fadeIn 0.5s linear;
    //   animation-fill-mode: both;

    //   &:hover {
    //     background: $listItemHoverBackground;
    //   }

    //   .orderSize {
    //     @extend .orderItem;
    //   }

    //   .orderPrice {
    //     @extend .orderItem;
    //   }

    //   .orderSource {
    //     width: 25%;
    //     align-self: flex-start;
    //   }

    //   .orderAt {
    //     display: inline-block;
    //     width: 10%;
    //   }
    // }
  }

  .asks {
    @extend .orderContainer;
  }

  .info {
    height: 20%;
  }

  .bids {
    @extend .orderContainer;
  }
}