@import '~styles/colors.scss';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.exchangeData {
  overflow: auto;
  display: flex;
  flex-direction: column;

  &.stopped {
    flex: 1;
    background-color: $lightGrayBackground;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: auto;
  }

  .info {
    height: 130px;
    padding: 0px 5px;
    border-bottom: 1px solid $borderColor;

    .spreadHeader {
      padding: 10px 0px;
      border: none;
      margin: 0px;
    }

    .infoItem {
      padding: 5px;
      height: 20px;
      display: flex;
      justify-content: space-between;

      .valuePos {
        color: $green;
      }

      .valueNeg {
        color: $red;
      }
    }
  }

  .orderContainer {
    .header {
      padding: 10px 5px;
      margin: 0px;
      border-bottom: 1px solid $borderColor;
    }
  }

  .asks {
    @extend .orderContainer;
  }

  .bids {
    @extend .orderContainer;
  }
}