@import "~styles/colors.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  .dashboardContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 70%;

    .description {
      font-size: 2rem;
    }

    .widgetColumn {
      display: flex;
      margin-top: 3%;

      .widget {
        flex: 1;
        padding: 20px;
        margin-right: 20px;
      }

      .middleWidget {
        flex: 1;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-right: 20px;
      }
    }

    .title {
      font-size: 1.2rem;
      text-decoration: underline;
      color: $linkColor;
      cursor: pointer;
    }

    .link {
      width: 100px;
      height: 15px;
      display: inline-block;
      position: relative;
      right: 45px;
    }
  }

  .grid {
    height: 100%;
    overflow-y: scroll;
  }
}