.container{
    margin-top: 30px;
    overflow-y: scroll;
    max-height: calc(100% - 50px);
}
.head{
    font-size: 2rem;
    margin-left: 45px;
    padding: 3px; 
}

.icon{
    margin-right: 25px;
    margin-left: 10%;
}

.ratesContainer{
    display: flex;
    align-items: center;
    background: whitesmoke;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 5px 15px
}
.rate{
    font-size: 1.2rem;
    margin-left: 5%;
    padding: 3px; 
}

.detail {
    display: inline-block;
    font-size: inherit;
  }

.asset {
    @extend .detail;
    margin-right: 10px;
  }
