@import "~styles/colors.scss";

.graph {
  height: calc(100% - 20px);
  .currenciesContainer {
    margin-left: 40px;
    margin-top: 30px;

    .currency {
      @include themify($themes) {
        color: blue;
        cursor: pointer;
        margin-right: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .selectedCurrency {
      @include themify($themes) {
        color: blue;
        cursor: pointer;
        margin-right: 20px;
        text-decoration: underline;
      }
    }
  }

  .innerGraph {
    height: calc(100% - 30px);
  }
}