@import "~styles/colors.scss";

.tradingPen {
  .timedOrder {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;

    .text {
      @include themify($themes) {
        color: themed('whiteText');
      }
    }

    .progress {
      margin-top: 5px;
    }

    .cancelBtn {
      @include themify($themes) {
        color: themed('whiteText');
      }
    }
  }
}