@import "~styles/colors.scss";

.tradingPen {
  .timedOrder {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;

    .text {
      color: $whiteText;
    }

    .progress {
      margin-top: 5px;
    }

    .cancelBtn {
      color: $whiteText;
    }
  }
}