@import "~styles/colors.scss";

.ordersPen {
  height: 100%;

  .badge {
    top: 20px;
    right: 2px;

    .badgeIco {
      @include themify($themes) {
        color: themed('whiteText');
      }
    }
  }

  .orderList {
    list-style: none;
    padding: 0px;
    overflow: auto;
    height: 100%;
    margin-top: 0px;
  }
}