@import '~styles/colors.scss';

.exchangeInfo {
  @include themify($themes) {
    color: themed('secondaryTextColor');
  }

  .balanceContainer {
    margin-top: 7px;

    .balanceItem {
      display: flex;

      .balanceItemText {
        font-size: 1.1rem;
      }

      .balanceItemLabel {
        @extend .balanceItemText;
        width: 10rem;
      }

      .balanceItemValue {
        @extend .balanceItemText;
        margin-left: 2px;
      }
    }
  }
}