.exchangeInfo {
  // padding: 5px;
  // border-bottom: 1px solid lightgray;
  // background: lightslategray;
  // color: white;

  .balanceContainer {
    margin-top: 7px;

    .balanceItem {
      display: flex;

      .balanceItemText {
        font-size: 1.1rem;
      }

      .balanceItemLabel {
        @extend .balanceItemText;
        width: 10rem;
      }

      .balanceItemValue {
        @extend .balanceItemText;
        margin-left: 2px;
      }
    }
  }
}